table {
    margin: 5px;
    border-collapse: collapse;
    width: 100%;
    background-color: #ccc;
}

th {
    text-align: left;
    padding: 8px;
}

tr {
    cursor: pointer;    
}

td {
    text-align: left;
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
}

td.id {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #585a58;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover {
    background-color: #bee6d0 !important;
}

th {
    background-color: #585a58;
    color: white;
}